<h1>Welcome to your dashboard</h1>
<br/>
<%= link_to 'Browse categories', categories_path%>
<br/>
<%= link_to 'View Up Coming Events', events_path%>
<br/>
<%= link_to 'View Purchased Tickets', ptickets_path%>
<br/>
<%= link_to 'Edit profile', users_path%>
<br/>
